.file-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px;
  gap: 24px;
  width: 100%;
  height: auto;
  left: calc(50% - 1400px/2);
  top: 336px;
  background: #FAFBFF;
  border: 1px dashed rgba(66, 99, 235, 0.25);
  border-radius: 10px;
}

.file-upload .upload-txt {
  color: #37303F;
  font-size: 1.4rem;
  font-weight: 400;
}

.file-upload .upload-info {
  color: #7A8499;
  font-size: 1.1rem;
  font-weight: 400;
}

.upload-area {
  width: 568px;
  height: auto;
  border: 1px solid #4263EB;
  border-radius: 5px;
  background-color: #fff;
  padding: 16px;
  position: relative;
}

.upload-infomation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #37303F;
}

.upload-infomation .file-name {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.upload-infomation .file-name .ico-folder img {
  width: 24px;
  height: 24px;
}

.upload-infomation .file-size {
  font-size: 1.2rem;
}

.upload-cancel {
  position: absolute;
  top: -12px;
  right: -12px;
}

.upload-cancel .ico-close img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.progress {
  margin: 5px 0 0 34px;
  padding: 0;
  border-radius: 5px;
  background: #DAE0EF;
}

.progress-bar {
  height: 4px;
  border-radius: 5px;
  background: #DAE0EF;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  transition-property: width, background-color;
}

.progress-moved .progress-bar {
  width: 100%;
  background-color: #4263EB;
  -webkit-animation: progressAnimation 6s;
          animation: progressAnimation 6s;
}

@-webkit-keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #4263EB;
  }
  100% {
    width: 100%;
    background-color: #4263EB;
  }
}

@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #4263EB;
  }
  100% {
    width: 100%;
    background-color: #4263EB;
  }
}
