.step-warpper {
  width: 100%;
  margin: 1rem 0;
}

.step-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FAFBFF;
  position: relative;
  overflow-y: hidden;
  padding-right: calc(50% - 30px);
}

.step-menu .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.step-menu .steps .step {
  width: 100%;
  background-color: #F3F6FF;
  color: rgba(66, 99, 235, 0.5);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  position: relative;
  min-height: 40px;
}

.step-menu .steps .step::before {
  border-left: 12px solid #F3F6FF;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  content: "";
  left: 100%;
  position: absolute;
  width: 0;
  height: 0;
}

.step-menu .steps .step::after {
  border-left: 12px solid #F3F6FF;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  -webkit-transform: translateX(-0.5px);
          transform: translateX(-0.5px);
  content: "";
  z-index: 5;
  left: 100%;
  position: absolute;
  width: 0;
  height: 0;
}

.step-menu .steps .step:hover {
  background-color: #ECF0FD;
}

.step-menu .steps .step:hover::before {
  border-left: 12px solid #ECF0FD;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  content: "";
  left: 100%;
  position: absolute;
  width: 0;
  height: 0;
}

.step-menu .steps .step:hover::after {
  border-left: 12px solid #ECF0FD;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  -webkit-transform: translateX(-0.5px);
          transform: translateX(-0.5px);
  content: "";
  z-index: 5;
  left: 100%;
  position: absolute;
  width: 0;
  height: 0;
}

.step-menu .steps .step i {
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.step-menu .steps .step i.step1 {
  background-image: url(../img/number-1-blue.svg);
}

.step-menu .steps .step i.step2 {
  background-image: url(../img/number-2-blue.svg);
}

.step-menu .steps .step i.step3 {
  background-image: url(../img/number-3-blue.svg);
}

.step-menu .steps .step a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.step-menu .steps .step.active {
  background-color: #4263EB;
  color: #fff;
}

.step-menu .steps .step.active::before {
  border-left: 12px solid #4263EB;
}

.step-menu .steps .step.active::after {
  border-left: 12px solid #4263EB;
}

.step-menu .steps .step.active i.step1 {
  background-image: url(../img/number-1-white.svg);
}

.step-menu .steps .step.active i.step2 {
  background-image: url(../img/number-2-white.svg);
}

.step-menu .steps .step.active i.step3 {
  background-image: url(../img/number-3-white.svg);
}

.model-warpper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  width: 100%;
  padding-top: 2rem;
}

.model-warpper .model-section {
  padding: 0 0 2rem 0;
}

.model-warpper .model-section .guide {
  margin-top: 2rem;
  background-color: #FAFBFF;
  padding: 16px;
  width: 100%;
  height: auto;
  max-width: 600px;
}

.model-warpper .model-section .guide__txt {
  color: #7A8499;
  font-size: 1.2rem;
  font-weight: 400;
}

.model-warpper .sub-title {
  color: #37303F;
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 2rem;
}

.model-warpper .model-detail {
  padding: 0 0 2rem 0;
}

.model-warpper .model-detail .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.model-warpper .model-detail .details .detail-list {
  margin-bottom: 24px;
}

.model-warpper .model-detail .details .detail-list .detail-label {
  color: #37303F;
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 1.2rem;
}

.model-warpper .model-detail .details .detail-list .detail-textfiled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.model-warpper .model-detail .details .detail-list .detail-info {
  background-color: #fff;
  border: 1px solid #DAE0EF;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  font-size: 1.6rem;
  line-height: 100%;
  padding: 12px 16px;
  color: #495057;
  height: 48px;
}

.model-warpper .model-detail .details .detail-check {
  width: 100%;
  max-width: 600px;
}

.model-warpper .model-detail .details .deploy-image {
  display: block;
  margin-top: 100px;
  width: 100%;
  max-width: 600px;
}

.model-warpper .model-detail .details .detail-deploy {
  display: none;
  width: 100%;
  max-width: 600px;
  -webkit-animation: slideInFade 0.3s ease-in;
          animation: slideInFade 0.3s ease-in;
}

.model-warpper .model-detail .details .detail-deploy .deploy-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #4263EB;
  padding: 24px 20px;
  -webkit-box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
}

.model-warpper .model-detail .details .detail-deploy .deploy-layout .deploy-head {
  color: #37303F;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.model-warpper .model-detail .details .detail-deploy .deploy-layout .deploy-title {
  color: #37303F;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.model-warpper .model-detail .details .detail-deploy .deploy-layout .deploy-sumit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  right: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px 0 0 0;
  gap: 10px;
}

.totals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.totals .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #37303F;
  font-size: 1.4rem;
  font-weight: 400;
  gap: 10px;
}

.totals .about a {
  color: #4263EB;
}

.totals .total {
  color: #37303F;
  text-align: right;
  font-size: 1.4rem;
  font-weight: 600;
}

.totals .total .price {
  padding-left: 10px;
}

.totals .total .vat {
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: 400;
}

.totals.deploy-modal {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@-webkit-keyframes slideInFade {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFade {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
