.mypage-check {
  width: 100%;

  .mypage-list {
    padding-top: 3rem;

    .mypage-label {
      display: flex;
      justify-content: space-between;
      color: #37303F;
      font-size: 1.4rem;
      font-weight: 600;
      padding-bottom: 1.6rem;
    }

    .mypage-textfiled {
      display: flex;
      gap: 10px;
    }
  }

  .mypage-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}